.ql-toolbar {
    border-top-left-radius: 9px !important;
    border-top-right-radius: 9px !important;
}

.ql-container {
    border-bottom-left-radius: 9px !important;
    border-bottom-right-radius: 9px !important;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #D0D0D0;
    width: 100%;
    min-height: 500px;
    overflow: hidden;
}

label {
    padding: 8px 30px;
}

.img-preview-section {
    color: rgba(0, 0, 0, 0.11);
}

.count-character {
    background-color: rgba(78, 210, 139, 0.15);
    padding: 3px 10px;
}